/*
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
 /* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:Arial, Helvetica, sans-serif;
}
.wrap{
	width:1000px;
	margin:0 auto;
}
.logo{
	float:left;
}
.menu{
	float:left;
	padding:36px 0 35px;
	background:#F1900B;
	margin-left:2px;
	border-bottom:7px solid #EA6904;
	font-family:'Duru Sans', sans-serif;
}
.menu li{
	display:inline-block;
	float:left;	
}
.menu li a{
	font-size:13px;
	color:#FFF;
	padding:38px 47px 38px 48px ;
	border-right:1px solid #db5d2c;
}
.menu li.active a{
	background:#EA6904;
}
.menu li:nth-child(5) a{
	border:none;
}
.menu li a:hover{
	background:#EA6904;
}
.header_bottom{
	border-bottom:3px ridge #888;
    padding-bottom: 1px;
}
.side_nav{
	float:left;
	width:202px;
}
.side_nav li{
	display:block;
	padding:26px 0 18px;
}
.side_nav li a{
	font-size:18px;
	color:#FFF;
	padding-left:25px;
}
.side_nav li p{
	font-size:12px;
	padding-left:25px;
}
.side_nav li:nth-child(1){
	background:#ADC000;
	border-top:4px solid #93AA00;	
}
.side_nav li:nth-child(1):hover{
	background:#97B500;
}
.side_nav li:nth-child(2){
	background:#FD6D01;
	border-top:4px solid #EB6A01;
	margin-top:3px;
}
.side_nav li:nth-child(2):hover{
	background:#F89500;
}
.side_nav li:nth-child(3){
	background:#019FF1;
	border-top:4px solid #0187E7;
	margin-top:3px;
}
.side_nav li:nth-child(3):hover{
	background:#00B5F9;
}
.header_bottom_img{
	float:left;
}
.sidebar{
	float:left;
	width:202px;
	background:#ECF0F3;
}
.sidebar_top{
	padding:10px 5px;
	border-bottom:2px ridge #5D5D5D;
	margin-top:10px;
}
.sidebar_top h2{
	font-size:14px;
	color:#02A1EF;
	font-family:'Duru Sans', sans-serif;
}
.sidebar_top h2 span{
	font-size:14px;
	color:#8B8B8B;	
}
.sidebar_list{
	padding:0 35px;
}
.sidebar_list li{
	margin:20px 0;
	list-style-image:url(../images/list_img.png);
	border-bottom:1px dotted #888;
}
.sidebar_list li a{
	font-size:13px;
	color:#7C7C7C;
	padding-bottom:5px;
}
.sidebar_list li a:hover{
	color:#4c4c4c;
}
.side_form{
	
}
.side_form form p{
	font-size:15px;
	color:#888;
	padding:5px;	
}
.side_form input[type="text"]{
	width:82px;
	padding:5px;
	font-size:12px;
	color:#888;
	margin-left:5px;
	border:1px solid rgb(202, 198, 198);
	outline:none;
}
.side_form input[type="submit"]{
	color:#FFF;
 font-size:14px;
 padding:5px 10px;
 background:#0E59AE url(../images/large-button-overlay.png);
 border: 1px solid #2a2a2a;
 border-radius: 2px;
 box-shadow: inset rgba(255,255,255,0.3) 1px 1px 0;
 text-shadow: 0 1px 1px rgba(0,0,0,0.3);
 border: 1px solid rgba(0, 0, 0, 0.25);
 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
 text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
 margin-left:6px;
}
.side_form input[type="submit"]:hover{
	background:#063468;
}
.side_form input[type="submit"]:active{
	background:#1169cc;
}
.side_bottom_list{
	padding:10px 35px;
}
.side_bottom_list li{
	margin:20px 0;
	list-style-image:url(../images/list_img.png);
}
.side_bottom_list li a{
	font-size:13px;
	color:#02A2EF;	
}
.side_bottom_list li a:hover{
	border-bottom:1px solid rgb(202, 198, 198);
}
.content{
	float:left;
	width:798px;
}
.content_top{
	padding:25px;
}
.content_top_img img{
	float:left;
	box-shadow:0 0 10px #C1C1C1;
}
.content_top_data{
	float:left;
	width:520px;
	padding:0 20px;
}
.content_top_data h2{
	font-size:25px;
	color:#797777;
	font-family:'Duru Sans', sans-serif;
}
.content_top_data h2 span{
	font-size:25px;
	color:#FC7001;
}
.content_top_data h3{
	font-size:14px;
	color:#FC7001;
	margin:8px 0;
	font-family:'Duru Sans', sans-serif;
}
.content_top_data p{
	font-size:13px;
	color:#9B9B9B;
	line-height:1.8em;
}
.content_bottom{
	position:relative;
}
.content_bottom h2{
	font-size:16px;
	color:#FFF;
	padding:8px 20px;
	background:#0e96cf;
	margin-left:5px;
	font-family:'Duru Sans', sans-serif;
}
.more img{
	vertical-align:middle;
}
.more p{
	position:absolute;
	right:25px;
	font-size:13px;
	color:#FFF;
	top:10px;
}
.grides{
	padding:25px;
}
.grid1{
	float:left;
	width:350px;
	border-right:1px solid #e9e6e6;
}
.grides img{
	float:left;
}
.grid_top{
	float:left;
	margin-left:15px;
}
.grid_top h4{
	font-size:13px;
	color:#FC7001;
	font-weight:bold;
}
.grid_top h5{
	font-size:13px;
	color:#FC7001;
	font-weight:bold;
}
.grid_top h5 span{
	font-size:12px;
	color:#02A2EF;
}
.grid_data{
	width:300px;
}
.grid_data h3{
	font-size:14px;
	color:#FC7001;
	font-weight:bold;
	padding:10px 0;	
}
.grid_data p{
	font-size:13px;
	line-height:1.8em;
	color:#9B9B9B;	
}
.grid2{
	float:left;
	width:350px;
	padding-left:45px;
	border-left:1px solid #faf8f8;
}
.footer{
	padding:20px 0;
	background: #ffa84c;
background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 69%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(69%,#ff7b0d));
background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 69%);
background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 69%);
background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 69%);
background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 69%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 );
border-bottom:6px solid #EA6A04;
margin-bottom:10px;
font-family:'Montserrat', sans-serif;
}
.footer_nav{
	float:left;
	margin-left:5px;
}
.footer_nav li{
	display:inline-block;
}
.footer_nav li a{
	color:#fff;
	font-size:12px;
	padding:0 10px;	
}
.footer_nav li a:hover{
	border-bottom:1px dotted #FFF;
}
.copy_right{
	float:right;
}
.copy_right p{
	font-size:12px;
	color:#EEE;
	padding-right:15px;
	text-align:right;
}
.copy_right p a{
	font-size:12px;
	color:#EEE;
}
.copy_right p a:hover{
	color:#FFF;
	border-bottom:1px solid #FFF;
}
/* about */
.content_data{
	float:left;
	width:474px;
	padding:0 10px;
}
.content_data h2{
	font-size:22px;
	color:#797777;
	border-bottom:1px dotted #888;
	font-family:'Duru Sans', sans-serif;
}
.content_data h3{
	font-size:13px;
	color:#FC7001;
	padding:6px 0 15px;
	font-family:'Duru Sans', sans-serif;
}
.content_data p{
	font-size:13px;
	color:#9B9B9B;
	line-height:1.8em;
}
.about_data{
	padding:0 35px;
}
.about_data p{
	font-size:13px;
	color:#747877;
	line-height:1.8em;
	padding:5px 0;
}
/* services */
.service_top_data{
	
}
.service_top_data h2{
	font-size:22px;
	color:#797777;
	border-bottom:1px dotted #888;
	font-family:'Duru Sans', sans-serif;
}
.service_top_data h3{
	font-size:13px;
	color:#FC7001;
	padding:6px 0 15px;
	font-family:'Duru Sans', sans-serif;
}
.service_top_data p{
	font-size:13px;
	color:#9B9B9B;
	line-height:1.8em;
	padding:5px 0;
}
.boxes{
    margin-top:20px;
}
.box1{
	float:left;
	margin-top:20px;
}
.box_img{
	float:left;
}
.box_data{
	float:left;
	width:300px;
	margin-left:10px;
}
.box_data p{
	font-size:13px;
	color:#747877;
	line-height:1.8em;
	padding:5px 0 0;
}
.box2{
	float:right;
	margin-top:20px;
}
.boxes h5 a{
	font-size:13px;
	color:#e28a45;
}
.boxes h5 a:hover{
	border-bottom:1px solid #bdb9b9;
}
/* contact */
.feedback{
	float:left;
	width:798px;
}
.feed h1{
font-size:22px;
padding-bottom:10px;
color:#797777;	
margin:10px 45px;
border-bottom:1px dotted #888;
font-family:'Montserrat', sans-serif;
}
.feed p{
	font-size:13px;
	color:#747877;
	line-height:1.8em;
	padding:5px 50px;
}
form label{
	display:block;
	margin-left:50px;
	font-size:14px;
	color:#747877;
}
.feedback form{
  padding-top:10px;
  float:left;
  width:400px;
}
.feedback form input[type="text"]{
		padding:8px;
		margin:5px 0 20px 50px;
			display:block;
			width:300px;
			background:#fcfcfc;
			border: none;
			outline:none;
			color:#464646;
			font-family:Arial, Helvetica, sans-serif;
			box-shadow: inset 0px 0px 5px #616161;		
}
.feedback textarea{
		padding:8px;
		margin:5px 0 20px 50px;
		display:block;
		width:300px;
		height:100px;
		background:#fcfcfc;
		border: none;
		outline:none;
		color:#464646;
		resize:none;		
		font-family:Arial, Helvetica, sans-serif;
		box-shadow: inset 0px 0px 5px #616161;	
		}
.feedback form input[type="submit"]{
	padding:6px 15px;
	color:#FFF;
	font-size:14px;
	cursor:pointer;
	margin-left:50px;
	background:#FF5C00 url(../images/large-button-overlay.png);
	border: 1px solid rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
	-webkit-border-radius: 5px;
    border-radius:2px;
    font-family:'Montserrat', sans-serif;
}
.feedback form input[type="submit"]:hover{
	background-color:#D45500; 
}
.feedback form input[type="submit"]:active{
	background-color:#fd762a;  
}
.company_address{
	float:left;
	width:350px;
	margin:20px;
}
.company_address h2{
	font-size:20px;
  padding-bottom:10px;
  color:#797777;
  text-decoration:underline;
  font-family:'Duru Sans', sans-serif;
 }
.company_address p{
	font-size:13px;
	color:#9B9B9B;
	padding:2px 5px 0;
}
.address_data{
	margin-top:10px;
}
.address_data p{
	font-size:13px;
	color:#222;
	padding:2px 5px 0;
}
.address_data p a{
	text-decoration:underline;
	color:#666;
}

/*--responsive--*/

@media(max-width:1050px){
	.wrap {
		width: 899px;
		margin: 0 auto;
	}
	.menu li a {
		font-size: 13px;
		color: #FFF;
		padding: 38px 35px 38px 35px;
	}
	.side_nav {
		float: left;
		width: 100%;
	}
	.side_nav li {
		display: inline-block;
		padding: 26px 0 18px;
		width: 32%;
		float: left;
	}
	.side_nav li:nth-child(2),.side_nav li:nth-child(3){
		margin-top: 0;
	}
	.header_bottom_img img {
		    width: 96%;
	}
	.header_bottom_img {
		float: left;
		width:100%;
	}
	.sidebar {
		float: left;
		width: 100%;
	}
	.content {
		float: left;
		width: 100%;
	}
	.feed {
		margin-bottom: 1em;
	}
}

@media(max-width:900px){
		.wrap {
			width: 760px;
			margin: 0 auto;
		}
	.menu li a {
		font-size: 13px;
		color: #FFF;
		padding: 38px 24px 38px 25px;
	}
	.side_nav li {
		display: inline-block;
		padding: 26px 0 18px;
		width: 33.3%;
		float: left;
	}
	.header_bottom_img img {
		width: 99.9%;
	}
	.content_top {
		padding: 0;
		margin-top: 1em;
	}
	.grid1 {
		float: left;
		width: 44%;
	}
	.grid_data {
		width:100%;
	}
	.company_address {
		float: left;
		width: 82%;
		margin: 20px 10px;
	}
	.feedback textarea,.feedback form input[type="text"] {
		    width: 80%;
		padding: 8px;
		margin: 5px 0 20px 0px;
	}
	form label{
		margin:0;
	}
	.feedback form {
		padding-top: 10px;
		float: left;
		width: 100%;
	}
	.feedback form input[type="submit"] {
    margin-left:0px;
	}
	.feed p {
    	font-size: 13px;
		color: #747877;
		line-height: 1.8em;
		padding: 5px 0px;
	}
	.feed h1 {
      margin: 10px 0px;
	}
	.feedback {
		float: left;
		width: 100%;
	}
}
@media(max-width:768px){
	.wrap {
		width: 680px;
		margin: 0 auto;
	}
	.menu li a {
		font-size: 13px;
		color: #FFF;
		padding: 38px 17px 38px 16px;
	}
	.content_top_data {
		float: left;
		width: 100%;
		padding: 0;
		margin-top: 1em;
	}
	.box1,.box2{
		margin-top: 20px;
		width: 100%;
	}
	.grid1 {
		float: left;
		width: 100%;
	}
	.grid2 {
		float: left;
		width: 100%;
		padding-left: 0;
		margin-top: 20px;
	}
	.footer_nav li a {
		font-size: 12px;
		padding: 0 4px;
	}
	.footer_nav {
		float: left;
		margin-left: 0;
		width: 100%;
		text-align: center;
		margin-bottom: 1em;
	}
	.copy_right {
		float: right;
		width: 100%;
	}
	.copy_right p {
		text-align: center;
	}

}
@media(max-width:736px){
	.logo {
		float: left;
		width: 100%;
		background: #ec6700;
		margin: 0 auto;
		text-align: center;
	}
	.menu li a {
		font-size: 12px;
		color: #FFF;
		padding: 38px 29px 38px 26px;
	}

}
@media(max-width:667px){
	.wrap {
		width: 565px;
		margin: 0 auto;
	}
	.content_top_data h2 span {
		font-size: 19px;
	}
	.content_top_data h2 {
    font-size: 22px;
	}
}

@media(max-width:600px){
	.wrap {
		width: 480px;
		margin: 0 auto;
	}
	.menu {
		float: none;
		padding: 1px 0;
		background: none;
		margin-left: 0;
		border-bottom: none;
		width: 100%;
	}
	.menu li a {
		font-size: 12px;
		color: #FFF;
		padding: 10px 10px;
		display:block;
		background:#F1900B;
	}
	.menu li {
		display: block;
		float: none;
	}
	.grides {
		padding: 11px;
	}
	.feed p {
		font-size: 13px;
		line-height: 1.3em;
	}
}

@media(max-width:480px){
	.wrap {
		width: 385px;
		margin: 0 auto;
	}

}
@media(max-width:440px){
	
}
@media(max-width:414px){
	.wrap {
		width: 316px;
		margin: 0 auto;
	}
	.side_nav li {
		display: inline-block;
		padding: 10px 0;
		width: 100%;
		float: left;
	}
	logo {
		margin: 0 auto 13px;
		text-align: center;
	}
}
@media(max-width:320px){
	.wrap {
		width: 279px;
		margin: 0 auto;
	}

	.logo img {
		width: 73%;
	}
}
/*--//responsive--*/

	